.idea
__pycache__
archiv
venv
data/*
!data/epochs.csv
!data/expected_senti_translation.csv
!data/expected_freq_translation.csv
!data/session_markers.csv
!data/keywords_merged.csv
!data/sentiwords.csv
!data/political_sentiwords.csv
!data/expected_values.csv
!data/keyword_comparing.csv
!results